<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

<f:layout name="Default" />

<f:section name="main">
  <h1>Übersicht über die eingegebenen Daten</h1>

  <p>Diese Daten hat der Bewerber {candidate.feUser.firstName} {candidate.feUser.lastName} eingegeben:</p>
  <p>Die eingegbenen Daten werden nur zum Zwecke der Prüfung der Stipendiaten verwendet.

  </p>

  <v:variable.set name="family" value="{candidate.wholeFamily}" />


  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="persoenliches">
      <h2>Persönliche Daten</h2>
      <div id="tab-1">
        <f:render partial="Candidate/Pdf/FieldsStep1" arguments="{candidate:candidate}" />

      </div>
    </div>

    <div role="tabpanel" class="tab-paneeeee" id="finanzielles" >
      <h2>Angaben zur finanziellen Situation der Familie</h2>
      <v:variable.set name="family" value="{candidate.wholeFamily}" />
      <div id="tab-4">
        <f:render partial="Candidate/Pdf/FieldsStep4" arguments="{family: family,
                                                                candidate: candidate,
                                                                readonly: 1}" />

      </div>
    </div>

    <div role="tabpanel" class="tab-paneeee" id="schulkarriere">
      <h2>Angaben über die Schulen, die der Antragsteller besucht hat</h2>
      <div id="tab-2">
        <f:render partial="Candidate/Pdf/FieldsStep2" arguments="{candidate:candidate,
																		actualSchool: actualSchool,
																		otherSchools: otherSchools,
																		readonly: 1}" />

      </div>
    </div>

    <div role="tabpanel" class="tab-paneeee" id="familie">
      <h2>Angaben zur Familie</h2>
      <div id="tab-3">
        <f:render partial="Candidate/Pdf/FieldsStep3" section="Main" arguments="{family: family,
																		candidate: candidate,
																		readonly: 1}" />

      </div>
    </div>


    <div role="tabpanel" class="tab-paneeee" id="documents">
      <h2>Hochgeladene Dokumente, müsssen vollzählig sein</h2>
      <div id="tab-5">
        <f:render partial="Candidate/Pdf/FieldsStep5" section="Main" arguments="{documents: candidate.documents,
																		readonly: 1}" />

      </div>
    </div>
  </div>

  <f:link.action action="list" pluginName="evaluation" >Zurück zur Übersicht</f:link.action>


</f:section>

</div>