<dl class="subrow">
    <dt class="label">Formale Voraussetzung 2</dt>    <dd class="description">{alumni.studentCounseilling.qualification1}</dd>
</dl>
<dl class="subrow">
    <dt class="label">Formale Voraussetzung 2</dt>    <dd class="description">{alumni.studentCounseilling.qualification2}</dd>
</dl>
<dl class="subrow">
    <dt class="label">Möglichkeiten nach dem Studium</dt>    <dd class="description">{alumni.studentCounseilling.opportunitiesAfterStudy}</dd>
</dl>
<dl class="subrow">
    <dt class="label">Informationen zur Uni</dt>    <dd class="description">{alumni.studentCounseilling.universityInformations}</dd>
</dl>
<dl class="subrow">
    <dt class="label">Wissenswertes zum Standort</dt>    <dd class="description">{alumni.studentCounseilling.localInformations }</dd>
</dl>
<dl class="subrow">
    <dt class="label">Vorherige Hochschulstudiumserfahrung</dt>    <dd class="description">{alumni.studentCounseilling.priorUniversityExperiences }</dd>
</dl>
<dl class="subrow">
    <dt class="label">(Hochschul)aktivitäten</dt>    <dd class="description">{alumni.studentCounseilling.activities }</dd>
</dl>
<dl class="subrow">
    <dt class="label">Stipendien</dt>    <dd class="description">{alumni.studentCounseilling.scholarships }</dd>
</dl>
<dl class="subrow">
    <dt class="label">Praktika/ Auslandsemester</dt>    <dd class="description">{alumni.studentCounseilling.semesterAbroad }</dd>
</dl>
<dl class="subrow">
    <dt class="label">Tipp 1</dt>    <dd class="description">{alumni.studentCounseilling.tip1 }</dd>
</dl>
<dl class="subrow">
    <dt class="label">Tipp 2</dt>    <dd class="description">{alumni.studentCounseilling.tip2 }</dd>
</dl>
<dl class="subrow">
    <dt class="label">Tipp 3</dt>    <dd class="description">{alumni.studentCounseilling.tip3 }</dd>
</dl>
<dl class="subrow">
    <dt class="label">Tipp 4</dt>    <dd class="description">{alumni.studentCounseilling.tip4 }</dd>
</dl>
<dl class="subrow">
    <dt class="label">Tipp 5</dt>    <dd class="description">{alumni.studentCounseilling.tip5 }</dd>
</dl>
<dl class="subrow">
    <dt class="label">Studienmotto</dt>    <dd class="description">{alumni.studentCounseilling.studySlogan }</dd>
</dl>