<f:if condition="{alumni.studentCounseilling.qualification1}">
    <dl class="subrow">
        <dt class="label">Formale Voraussetzung 1</dt>
        <dd class="description">{alumni.studentCounseilling.qualification1}</dd>
    </dl>
</f:if>

<f:if condition="{alumni.studentCounseilling.qualification2}">
    <dl class="subrow">
        <dt class="label">Formale Voraussetzung 2</dt>
        <dd class="description">{alumni.studentCounseilling.qualification2}</dd>
    </dl>
</f:if>

<f:if condition="{alumni.studentCounseilling.opportunitiesAfterStudy}">
    <dl class="subrow">
        <dt class="label">Möglichkeiten nach dem Studium</dt>
        <dd class="description">{alumni.studentCounseilling.opportunitiesAfterStudy}</dd>
    </dl>
</f:if>

<f:if condition="{alumni.studentCounseilling.universityInformations}">
    <dl class="subrow">
        <dt class="label">Informationen zur Uni</dt>
        <dd class="description">{alumni.studentCounseilling.universityInformations}</dd>
    </dl>
</f:if>

<f:if condition="{alumni.studentCounseilling.localInformations}">
    <dl class="subrow">
        <dt class="label">Wissenswertes zum Standort</dt>
        <dd class="description">{alumni.studentCounseilling.localInformations }</dd>
    </dl>
</f:if>

<f:if condition="{alumni.studentCounseilling.priorUniversityExperiences}">
    <dl class="subrow">
        <dt class="label">Vorherige Hochschulstudiumserfahrung</dt>
        <dd class="description">{alumni.studentCounseilling.priorUniversityExperiences }</dd>
    </dl>
</f:if>

<f:if condition="{alumni.studentCounseilling.activities}">
    <dl class="subrow">
        <dt class="label">(Hochschul)aktivitäten</dt>
        <dd class="description">{alumni.studentCounseilling.activities }</dd>
    </dl>
</f:if>

<f:if condition="{alumni.studentCounseilling.scholarships}">
    <dl class="subrow">
        <dt class="label">Stipendien</dt>
        <dd class="description">{alumni.studentCounseilling.scholarships }</dd>
    </dl>
</f:if>

<f:if condition="{alumni.studentCounseilling.semesterAbroad}">
    <dl class="subrow">
        <dt class="label">Praktika/ Auslandsemester</dt>
        <dd class="description">{alumni.studentCounseilling.semesterAbroad }</dd>
    </dl>
</f:if>
<f:if condition="{alumni.studentCounseilling.tip1}">
    <dl class="subrow">
        <dt class="label">Tipp 1</dt>
        <dd class="description">{alumni.studentCounseilling.tip1 }</dd>
    </dl>
</f:if>

<f:if condition="{alumni.studentCounseilling.tip2}">
    <dl class="subrow">
        <dt class="label">Tipp 2</dt>
        <dd class="description">{alumni.studentCounseilling.tip2 }</dd>
    </dl>
</f:if>

<f:if condition="{alumni.studentCounseilling.tip3}">
    <dl class="subrow">
        <dt class="label">Tipp 3</dt>
        <dd class="description">{alumni.studentCounseilling.tip3 }</dd>
    </dl>
</f:if>

<f:if condition="{alumni.studentCounseilling.tip4}">
    <dl class="subrow">
        <dt class="label">Tipp 4</dt>
        <dd class="description">{alumni.studentCounseilling.tip4 }</dd>
    </dl>
</f:if>

<f:if condition="{alumni.studentCounseilling.tip5}">
    <dl class="subrow">
        <dt class="label">Tipp 5</dt>
        <dd class="description">{alumni.studentCounseilling.tip5 }</dd>
    </dl>
</f:if>

<f:if condition="{alumni.studentCounseilling.studySlogan}">
    <dl class="subrow">
        <dt class="label">Studienmotto</dt>
        <dd class="description">{alumni.studentCounseilling.studySlogan }</dd>
    </dl>
</f:if>