<fieldset xmlns:f="http://www.w3.org/1999/html" xmlns:f="http://www.w3.org/1999/html" class="upload-documents">
	<legend>Upload der Dokumente</legend>


	<div class="row form-group clearfix">
		<div class="form-field form-line">
		<label for="life_school_career" class="over">
			<f:translate key="tx_tilapplication_domain_model_documents.life_school_career" extensionName="TilApplication"/>
		</label>
			<span class="uploaded-document">{documents.lifeSchoolCareer}</span>

		</div>
	</div>
	<div class="row form-group clearfix">
		<div class="form-field form-line">
			<label for="curriculumVitae" class="over">
				<f:translate key="tx_tilapplication_domain_model_documents.curriculum_vitae" extensionName="TilApplication"/>
			</label>
			<span class="uploaded-document">{documents.curriculumVitae}</span>

		</div>
	</div>
	<div class="row form-group clearfix">
		<div class="form-field form-line">
			<label for="survey" class="over">
				<f:translate key="tx_tilapplication_domain_model_documents.survey" extensionName="TilApplication"/>
			</label>
			<span class="uploaded-document">{documents.survey}</span>
			<f:form.upload property="survey" class="file" />
		</div>

	</div>


	<div class="row form-group clearfix">
		<div class="form-field form-line">
			<label for="certificate1" class="over">
				<f:translate key="tx_tilapplication_domain_model_documents.certificate1" extensionName="TilApplication"/>
			</label>
			<span class="uploaded-document">{documents.certificate1}</span>
			<f:form.upload property="certificate1" class="file" />
		</div>
		<div class="form-field form-line">
			<label for="certificate2" class="over">
				<f:translate key="tx_tilapplication_domain_model_documents.certificate2" extensionName="TilApplication"/>
			</label>
			<span class="uploaded-document">{documents.certificate2}</span>
			<f:form.upload property="certificate2" class="file" />
		</div>
		<div class="form-field form-line">
			<label for="certificate3" class="over">
				<f:translate key="tx_tilapplication_domain_model_documents.certificate3" extensionName="TilApplication"/>
			</label>
			<span class="uploaded-document">{documents.certificate3}</span>
			<f:form.upload property="certificate3" class="file" />
		</div>
	</div>

	<div class="row form-group clearfix">
		<div class="form-field form-line">
			<label for="passportPhoto" class="over">
				<f:translate key="tx_tilapplication_domain_model_documents.passport_photo" extensionName="TilApplication"/>
			</label>
			<span class="uploaded-document">{documents.passportPhoto}</span>
			<f:form.upload property="passportPhoto" class="file" />
		</div>
	</div>
	<div class="row form-group clearfix">
		<div class="form-field form-line">
			<label for="identityCard" class="over">
				<f:translate key="tx_tilapplication_domain_model_documents.identity_card" extensionName="TilApplication"/>
			</label>
			<span class="uploaded-document">{documents.identityCard}</span>
			<f:form.upload property="identityCard" class="file" />
		</div>
	</div>

	<div class="row form-group clearfix">
		<div class="form-field form-line">
			<label for="residencePermit" class="over">
				<f:translate key="tx_tilapplication_domain_model_documents.residence_permit" extensionName="TilApplication"/>
			</label>
			<span class="uploaded-document">{documents.residencePermit}</span>
			<f:form.upload property="residencePermit" class="file" />
		</div>

	</div>
</fieldset>
