{namespace v=FluidTYPO3\Vhs\ViewHelpers}


<f:if condition="{readonly}">
    <f:then>
        <v:variable.set name="readonlyAttrib" value="readonly=\"readonly\"" />
        <v:variable.set name="disabledAttrib" value="disabled=\"disabled\"" />
        <v:variable.set name="checkAttrib" value="onclick=\"return false;\"" />
    </f:then>
    <f:else>
        <v:variable.set name="readonlyAttrib" value="" />
        <v:variable.set name="disabledAttrib" value="" />
        <v:variable.set name="checkAttrib" value="" />
    </f:else>
</f:if>


<fieldset  class="actual-school"  xmlns:f="http://www.w3.org/1999/html" xmlns:f="http://www.w3.org/1999/html">
    <legend  class="first-child">Derzeitige Schule des Antragstellers</legend>
    <div class="row form-group clearfix">
        <f:form.hidden name="actual" value="1"/>
        <div class="form-field form-field-left">
            <label for="name">
                <f:translate key="tx_tilapplication_domain_model_school.name" extensionName="TilApplication"/>
            </label>
            <f:form.textfield property="name"  required="0" />

        </div>
        <div class="form-field form-field-right">
            <label for="typeOfSchool">
                <f:translate key="tx_tilapplication_domain_model_school.type_of_school" extensionName="TilApplication"/>
            </label>
            <f:form.textfield property="typeOfSchool" />
        </div>
    </div>
    <div class="row form-group clearfix">
        <div class="form-field form-field-left">
            <label for="schoolYear">
                <f:translate key="tx_tilapplication_domain_model_school.school_year" extensionName="TilApplication"/>
            </label>
            <f:form.textfield property="schoolYear" size="5" placeholder="Klasse" />
        </div>
    </div>
    <div class="row form-group clearfix">
        <div class="form-field form-field-left">
            <label for="address">
                <f:translate key="tx_tilapplication_domain_model_address.street" extensionName="TilApplication"/>
            </label>
            <f:form.textfield property="address.street" />
        </div>
        <div class="form-field form-field-right">
            <label for="housenumber">
                <f:translate key="tx_tilapplication_domain_model_address.housenumber" extensionName="TilApplication"/>
            </label>
            <f:form.textfield property="address.housenumber" />
        </div>
    </div>


    <div class="row form-group clearfix">
        <div class="form-field form-field-left">
            <label for="zip">
                <f:translate key="tx_tilapplication_domain_model_address.zip" extensionName="TilApplication"/>
            </label>
            <f:form.textfield property="address.zip" /><br />
        </div>

        <div class="form-field form-field-right">
            <label for="city">
                <f:translate key="tx_tilapplication_domain_model_address.city" extensionName="TilApplication"/>
            </label>
            <f:form.textfield property="address.city" />
        </div>
    </div>
    <div class="row form-group clearfix">
        <div class="form-field form-field-left">
            <label for="phone">
                <f:translate key="tx_tilapplication_domain_model_address.phone" extensionName="TilApplication"/>
            </label>
            <f:form.textfield property="address.phone" /><br />
        </div>

        <div class="form-field form-field-right">
            <label for="mobile">
                <f:translate key="tx_tilapplication_domain_model_address.mobile" extensionName="TilApplication"/>
            </label>
            <f:form.textfield property="address.mobile" />
        </div>
    </div>
    <div class="row form-group  clearfix">
        <div class="form-field form-field-left">
            <label for="email">
                <f:translate key="tx_tilapplication_domain_model_address.email" extensionName="TilApplication"/>
            </label>
            <f:form.textfield property="address.email" />
        </div>
    </div>
</fieldset>

<fieldset class="planned-graduation">
    <legend>Angestrebter Schulabschluss</legend>
    <div class="row form-group  clearfix">
        <div class="form-field form-field-left">
            <label for="plannedGraduationSelect">
                <f:translate key="tx_tilapplication_domain_model_school.planned_graduation_select" extensionName="TilApplication"/>
            </label>
        </div>
        <div class="form-field form-field-right">
            <span class="form-radio-first form-radio">
                <f:form.radio property="plannedGraduationSelect" value="Abitur" />
                Abitur
            </span>
            <span class="form-radio-middle form-radio">
                <f:form.radio property="plannedGraduationSelect" value="Fachhochschulreife" />
                Fachhochschulreife
            </span>
            <br />
            <span class="form-radio-last form-radio">
                <f:form.radio property="plannedGraduationSelect" value="Sonstiges" />
                Sonstiges
            </span>
        </div>
    </div>
    <div class="row form-group  clearfix">
        <div class="form-line">
            <label for="plannedGraduationText">
                <f:translate key="tx_tilapplication_domain_model_school.planned_graduation_text" extensionName="TilApplication"/>
            </label>
            <f:form.textfield property="plannedGraduationText" />

        </div>
    </div>

    <div class="row form-group  clearfix">
        <div class="form-line">
            <label for="plannedGraduationFinish">
                <f:translate key="tx_tilapplication_domain_model_school.planned_graduation_finish" extensionName="TilApplication"/>
            </label>
            <f:form.textfield property="plannedGraduationFinish" />
        </div>
    </div>
</fieldset>

<fieldset class="schoolcertificate">
    <legend><f:translate key="tx_tilapplication_domain_model_school.grade_point_average" extensionName="TilApplication"/></legend>
    <div class="row form-group  clearfix">
        <div class="form-field form-field-left">
            <label for="schoolCertificateDate" class="over">
                <br /><f:translate key="tx_tilapplication_domain_model_school.school_certificate_date" extensionName="TilApplication"/>
            </label>

            <f:form.textfield property="schoolCertificateDate" value="{actualSchool.schoolCertificateDate -> f:format.date(format: 'd.m.Y')}"
                    placeholder="dd.mm.yyyy" />
        </div>

        <div class="form-field form-field-right">
            <label for="schoolCertificatePoints" class="over">
                <f:translate key="tx_tilapplication_domain_model_school.school_certificate_points" extensionName="TilApplication"/>
            </label>
            <f:form.textfield property="schoolCertificatePoints" size="5" value="{actualSchool.schoolCertificatePoints -> f:format.number(decimals: '2', decimalSeparator: ',' )}"/>
        </div>
    </div>
</fieldset>


<fieldset class="schoolcareer" id="schoolcareer">
    <legend>Bisheriger Schulbesuch / Ausbildung</legend>
    <f:if condition="{otherSchools ->f:count()} > 0">
        <f:then>
            <input type="hidden" name="numberSchools" value="{otherSchools ->f:count()}" />
            <f:for each="{otherSchools}" as="school" iteration="iterator">
                <f:form.hidden name="otherSchool[uid][{iterator.index}]" value="{school.uid}"/>
                <f:form.hidden name="otherSchool[remove][{iterator.index}]" value="0" id="remove_school_{school.uid}"/>
                <div class="row form-group  clearfix" id="schoolcareer_school_{iterator.index}">
                    <div class="form-field form-field-left">
                        <label for="" class="over">
                            <f:translate key="tx_tilapplication_domain_model_school.other_school" />
                        </label>
                        <f:form.textfield name="otherSchool[name][{iterator.index}]"  size="60" placeholder="Name, Anschrift"
                                          value="{school.name}"/>
                        <button class="removeOtherSchool" data-school="{school.uid}" data-iterator="{iterator.index}">löschen</button>
                    </div>
                    <div class="form-field form-field-right">
                        <label for="duration" class="over">
                            <f:translate key="tx_tilapplication_domain_model_school.other_school_duration" />
                        </label>
                        <f:form.textfield name="otherSchool[visitFrom][{iterator.index}]" placeholder="Monat / Jahr"
                                          value="{school.visitFrom}" class="school-visit"/>
                        <f:form.textfield name="otherSchool[visitTil][{iterator.index}]" placeholder="Monat / Jahr"
                                          value="{school.visitTil}" class="school-visit"/>
                    </div>
                </div>

            </f:for>
        </f:then>
        <f:else>
            <input type="hidden" name="numberSchools" value="3" />
            <f:for each="{0: '1', 1: '2', 2: '3'}" as="number" iteration="iterator">
                <div class="row form-group  clearfix" id="schoolcareer_school_{iterator.index}">
                    <div class="form-field form-field-left">
                        <label for="" class="over">
                            <f:translate key="tx_tilapplication_domain_model_school.other_school" />
                        </label>
                        <f:form.textfield name="otherSchool[name][{iterator.index}]"  size="60" placeholder="Name, Anschrift"
                                          value=""/>
                    </div>
                    <div class="form-field form-field-right">
                        <label for="duration" class="over">
                            <f:translate key="tx_tilapplication_domain_model_school.other_school_duration" />
                        </label>
                        <f:form.textfield name="otherSchool[visitFrom][{iterator.index}]" placeholder="Monat / Jahr" class="school-visit" />
                        <f:form.textfield name="otherSchool[visitTil][{iterator.index}]" placeholder="Monat / Jahr" class="school-visit" />
                    </div>
                </div>
            </f:for>
        </f:else>
    </f:if>
    <div class="hide" id="template-add-school">
        <div class="row form-group  clearfix" >
            <div class="form-field form-field-left">
                <label for="" class="over">
                    <f:translate key="tx_tilapplication_domain_model_school.other_school" extensionName="TilApplication"/>
                </label>
                <f:form.textfield name="otherSchool[name][]"  size="60" placeholder="Name, Anschrift"
                                  value=""/>
            </div>
            <div class="form-field form-field-right">
                <label for="duration" class="over">
                    <f:translate key="tx_tilapplication_domain_model_school.other_school_duration" extensionName="TilApplication"/>
                </label>
                <f:form.textfield name="otherSchool[visitFrom][]" placeholder="Monat / Jahr" class="school-visit" />
                <f:form.textfield name="otherSchool[visitTil][]" placeholder="Monat / Jahr" class="school-visit" />
            </div>
        </div>
    </div>
    <button id="addOtherSchool"  class="add-template">Weitere Schule hinzufügen</button>
    <div class="row form-group  clearfix">

    </div>
</fieldset>