<div class="step-navigation">

    <f:link.page pageUid="{settings.pageStep1}" class="btn btn-default">
       <span>Schritt 1</span>
    </f:link.page>
    <f:link.page pageUid="{settings.pageStep2}" class="btn btn-default">
        <span>Schritt 2</span>
    </f:link.page>
    <f:link.page pageUid="{settings.pageStep3}" class="btn btn-default">
        <span>Schritt 3</span>
    </f:link.page>
    <f:link.page pageUid="{settings.pageStep4}" class="btn btn-default">
        <span>Schritt 4</span>
    </f:link.page>
    <f:link.page pageUid="{settings.pageStep5}" class="btn btn-default">
        <span>Schritt 5</span>
    </f:link.page>
    <f:link.page pageUid="{settings.pageStep6}" class="btn btn-default">
        <span>Schritt 6</span>
    </f:link.page>
</div>