.form-group {
  display: block;
  margin-left: 0px;
}
.form-group .form-field {
  width: 48%;
}
.form-group .form-field label {
  width: 150px;
}
.form-group .form-field .school-visit {
  width: 40%;
  padding-left: 5%;
}
.form-group label.over {
  display: block;
  width: auto;
}
.form-group .form-line {
  width: 100%;
  padding-bottom: 10px;
}
.form-group .form-line label {
  width: 50%;
  padding-right: 2%;
  display: inline-block;
}
.form-group .form-line label.over {
  width: 100%;
  display: block;
}
.form-group .form-line .uploaded-document {
  display: block;
}
.form-group .form-line input[type=text] {
  width: 45%;
}
.form-group .form-line .file {
  display: inline-block;
}
.form-group .form-line .next {
  padding-left: 20px;
}
.form-group .form-field-left {
  float: left;
}
.form-group .form-field-left input {
  width: 100%;
}
.form-group .form-field-right {
  float: right;
}
.form-group .form-field-right input {
  width: 100%;
}
.form-group input[type=radio] {
  margin-right: 10px;
  width: auto;
}
.form-group .form-radio {
  padding-right: 15px;
}
fieldset {
  color: inherit;
  font-weight: bold;
}
fieldset legend {
  padding: 30px 0 20px 0;
  margin-bottom: 0;
}
fieldset legend .subline {
  font-size: 1.6rem;
}
.add-template {
  display: block;
  margin: 20px 0;
}
.removeOtherSchool {
  margin: 10px 0;
}
.step-navigation .btn {
  background-color: #a2bd30;
  color: white;
  margin-left: 20px;
}
.step-navigation .btn:first-child {
  margin-left: 0;
}
.tabs-container .tab-content {
  border-left: 1px solid #ddd;
  padding: 10px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.tabs-container .tab-content .btn {
  background-color: #a2bd30;
  color: white;
}
.finish-online-formula {
  width: 100%;
  text-align: right;
}
.finish-online-formula .btn {
  background-color: #a2bd30;
  color: white;
}
