<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>indexed_search template</title>
</head>

<body>

<h1>Indexed Search: Default template</h1>


<h2>TEMPLATE_SEARCH_FORM</h2>
<p><em>Template for displaying the search form.</em></p>

<!-- ###SEARCH_FORM### begin -->

<div class="" id="subheader" >
    <div class="inner">
      <hgroup>
        <h2 class="color-search">Ihre Suche ergab folgende Treffer:</h2>
        <h2>“###SWORD_VALUE###”</h2>
      </hgroup>
      <div id="search-result-pager-top">
        Seite <span class="color-white">1</span> von <span class="color-white">25</span>
      </div>
      <div class="clearer search-bottom-line"></div>
    </div>

</div>
<!-- ###SEARCH_FORM### end -->
<br /><br />





<h2>TEMPLATE_RESULT_SECTION_LINKS</h2>
<p><em>Template for the section links in section mode.</em></p>

<!-- ###RESULT_SECTION_LINKS### begin -->
	<div class="tx-indexedsearch-sec">
		<table cellpadding="0" cellspacing="0" border="0" summary="Result links">
			###LINKS###
		</table>
	</div>
<!-- ###RESULT_SECTION_LINKS### end -->

<!-- ###RESULT_SECTION_LINKS_LINK### begin -->
			<tr>
				<td width="100%">--&gt; ###LINK###</td>
			</tr>
<!-- ###RESULT_SECTION_LINKS_LINK### end -->
<br /><br />




<h2>TEMPLATE_SECTION_HEADER</h2>
<p><em>Template for the section title in section mode.</em></p>
<!-- ###SECTION_HEADER### begin -->
	<div class="tx-indexedsearch-secHead"><a name="###ANCHOR_URL###"></a>
		<table cellpadding="0" cellspacing="0" border="0" summary="Section header">
			<tr>
				<td class="tx-indexedsearch-title title" width="100%">###SECTION_TITLE###</td>
				<td class="tx-indexedsearch-result-count result-count" nowrap="nowrap">###RESULT_COUNT### ###RESULT_NAME###</td>
			</tr>
		</table>
	</div>

<!-- ###SECTION_HEADER### end -->
<br /><br />




<h2>TEMPLATE_RESULT_OUTPUT</h2>
<p><em>Template for the search result list.</em></p>

<!-- ###_RESULT_OUTPUT### begin -->
	<div class="tx-indexedsearch-res">
		<table cellpadding="0" cellspacing="0" border="0" summary="Result row">
			<!-- ###HEADER_ROW### begin -->
			<tr>
				<td class="tx-indexedsearch-icon icon" nowrap="nowrap">###ICON###</td>
				<td class="tx-indexedsearch-result-number result-number" nowrap="nowrap">###RESULT_NUMBER###</td>
				<td class="tx-indexedsearch-title title" width="100%">###TITLE###</td>
				<td class="tx-indexedsearch-percent percent" nowrap="nowrap">###RATING###</td>
			</tr>
			<!-- ###HEADER_ROW### end -->

			<!-- ###ROW_LONG### begin -->
			<tr>
				<td>&nbsp;</td>
				<td class="tx-indexedsearch-descr descr" width="100%" colspan="3">###DESCRIPTION###</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td class="tx-indexedsearch-info info" width="100%" colspan="3">###TEXT_ITEM_SIZE### ###SIZE### - ###TEXT_ITEM_CRDATE### ###CREATED### - ###TEXT_ITEM_MTIME### ###MODIFIED###<br />
					###TEXT_ITEM_PATH### <span class="tx-indexedsearch-path path">###PATH###</span></td>
			</tr>
			<!-- ###ROW_LONG### end -->

			<!-- ###ROW_SHORT### begin -->
			<tr>
				<td>&nbsp;</td>
				<td class="tx-indexedsearch-descr descr" width="100%" colspan="3">###DESCRIPTION###</td>
			</tr>
			<!-- ###ROW_SHORT### end -->

			<!-- ###ROW_SUB### begin -->
			<tr>
				<td>&nbsp;</td>
				<td class="tx-indexedsearch-list list" width="100%" colspan="3"><br />###TEXT_ROW_SUB###<br /><br /></td>
			</tr>
			<!-- ###ROW_SUB### end -->
		</table>
		<br />
	</div>
<!-- ###_RESULT_OUTPUT### end -->
<br /><br />

<!-- ###RESULT_OUTPUT### begin -->
<div class="main">
    <div class="inner">

      <div class="search-results">

        <div class="search-result">
          <div class="result-padding green"></div>
          <div class="search-result-info">
            <h3 class="search-result-title">###TITLE###</h3>
            <!-- ###ROW_LONG### begin -->
            <div class="teaser">
              ###DESCRIPTION###
            </div>
            <div class="readmore-link">###PATH###</div>
            <!-- ###ROW_LONG### end -->
          </div>
          <div class="search-result-percentage">###RATING###</div>
        </div>




      </div>

    </div>
  </div>
<!-- ###RESULT_OUTPUT### end -->

</body>
</html>
