
<table class="tx-til-application" >
	<tr>
		<td>
			<f:translate key="tx_tilapplication_domain_model_candidate.family_status" />
		</td>
		<td>
			{candidate.familyStatus}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tilapplication_domain_model_candidate.migration_background" />
		</td>
		<td>
			{candidate.migrationBackground}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tilapplication_domain_model_candidate.nationality" />
		</td>
		<td>
			{candidate.nationality}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tilapplication_domain_model_candidate.resident_since" />
		</td>
		<td>
			{candidate.residentSince}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tilapplication_domain_model_candidate.residence_status" />
		</td>
		<td>
			{candidate.residenceStatus}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tilapplication_domain_model_candidate.residence_misc" />
		</td>
		<td>
			{candidate.residenceMisc}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tilapplication_domain_model_candidate.family_addon" />
		</td>
		<td>
			{candidate.familyAddon}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tilapplication_domain_model_candidate.asset_real_estate" />
		</td>
		<td>
			{candidate.assetRealEstate}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tilapplication_domain_model_candidate.asset_savings" />
		</td>
		<td>
			{candidate.assetSavings}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tilapplication_domain_model_candidate.asset_misc_estate" />
		</td>
		<td>
			{candidate.assetMiscEstate}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tilapplication_domain_model_candidate.integrity" />
		</td>
		<td>
			{candidate.integrity}
		</td>
	</tr>
</table>