<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">


    <f:layout name="Default"/>


    <f:section name="main">
        <h1>Übersicht über alle "Wir für Bayern Berater"</h1>

        <f:flashMessages renderMode="div"/>

        <f:if condition="{alumnis -> f:count()} > 0">
            <div class="btn-group evaluation studienberatung">

                <f:render partial="Alumni/Search" arguments="{domicileList: domiciles,
                                                  zipList: zips,
                                                  universityList: universities,
                                                  courseList: courses,
                                                  plugin: plugin,
                                                  typeNum: typeNum}" />

            </div>
            <f:widget.paginate objects="{alumnis}" as="paginatedAlumnis" configuration="{itemsPerPage: 6, insertAbove: 'true', insertBelow: 'false'}">
                <div id="tabs" class="tabulous">
                    <ul class="list-unstyled" role="tablist">
                        <f:for each="{paginatedAlumnis}" as="alumni" iteration="iterator">
                            <li><a href="#tabs-{iterator.cycle}" title="">{alumni.firstname}</a></li>
                        </f:for>
                    </ul>
                    <div id="tabs_container">
                        <f:for each="{paginatedAlumnis}" as="alumni" iteration="iterator">
                            <div id="tabs-{iterator.cycle}" class="tab-content" role="tabpanel">
                                <f:render partial="Network/Tabs" arguments="{alumni:alumni,
                                                                 public: public,
                                                                 platform: 'network'}"/>
                            </div>
                        </f:for>


                    </div><!--End tabs container-->

                </div>
            </f:widget.paginate>
        </f:if>


    </f:section>

</div>