/* pagination slides */
.slides-pagination{
    display: none;
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a,
    #loginBtn {
        padding-top: 46px;
        padding-bottom: 34px;
    }
    .navbar-nav-scrolled > li > a{
        padding-top: 0;
        padding-bottom: 0;
    }
}
/* Registrierungsformular */
.femanager_fieldset {
    float: left;
    width: 50%;
}
.femanager_password{
    clear: left;
}
.femanager_submit:before{
    content: ' ';
    display: table;
    clear: both;
}
.femanager_submit{
    margin-top: 20px;
}
