/* pagination slides */
.slides-pagination{
    display: none;
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a,
    #loginBtn {
        padding-top: 46px;
        padding-bottom: 34px;
    }
    .navbar-nav-scrolled > li > a{
        padding-top: 0;
        padding-bottom: 0;
    }
}
/* Registrierungsformular */
.femanager_fieldset {
    float: left;
    width: 50%;
}
.femanager_password{
    clear: left;
}
.femanager_submit:before{
    content: ' ';
    display: table;
    clear: both;
}
.femanager_submit{
    margin-top: 20px;
}

/* Alumni */
.til-alumni-widget-paginator{
    position: relative;
}
.prev-next {
    position: absolute;
}
.til-alumni-widget-paginator .previous {
    top: -10px;
    left: -30px;
}
.til-alumni-widget-paginator .previous a {
    width: 20px;
    height: 46px;
    font-size: 0;
    background: url(../Img/slider_left.png) no-repeat;
    display: inline-block;
}
.til-alumni-widget-paginator .next {
    top: -10px;
    left: 105%;
}
.til-alumni-widget-paginator .next a{
    width: 20px;
    height: 46px;
    font-size: 0;
    background: url(../Img/slider_right.png) no-repeat;
    display: inline-block;
}