{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Home" />

<v:page.header>
    <f:render partial="PageObjects" section="SharedResources" optional="TRUE" arguments="{_all}" />
</v:page.header>







<!--Header Section-->
<div id='wrap_all'>

    <header class="top-header">
        <f:render partial="PageObjects" section="TopMenu" optional="TRUE" arguments="{_all}" />

    </header>
    <div class="clearfix"></div>
    <div id="head-slider">

    </div>

<!--Content Section-->

    <f:render section="Content" optional="TRUE" arguments="{_all}" />

    <footer>
        <f:render partial="PageObjects" section="Footer" optional="TRUE" arguments="{_all}" />
    </footer>

</div>