{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Home" />

<v:page.header>
    <f:render partial="PageObjects" section="SharedResources" optional="TRUE" arguments="{_all}" />
</v:page.header>







<!--Header Section-->

    <f:render partial="PageObjects" section="TopMenu" optional="TRUE" arguments="{_all}" />


    <div id="head-slider" class="container">
        <f:render section="Slider" optional="TRUE" arguments="{_all}" />
    </div>



<!--Content Section-->

    <f:render section="Content" optional="TRUE" arguments="{_all}" />

    <footer>
        <f:render partial="PageObjects" section="Footer" optional="TRUE" arguments="{_all}" />
    </footer>

