{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Page" />

<v:page.header>
    <f:render partial="PageObjects" section="SharedResources" optional="TRUE" arguments="{_all}" />
</v:page.header>

<!--Header Section-->
<div id='wrap_all'>

    <header class="top-header">
        <f:render partial="PageObjects" section="TopMenu" optional="TRUE" arguments="{_all}" />

    </header>
    <div class="clearfix"></div>
    <div id="subheader">

    </div>
    <section id="content-area" class="content">
        <div class="container">
            <div class="row margin-30">


                <!-- Sidebar -->
                <div id="sidebar-wrapper" class="col-md-3">
                    <ul class="sidebar-nav">
                        <v:page.menu.directory as="myMenuVariable"  pages="{f:cObject(typoscriptObjectPath: 'lib.parentUid')}">
                            <f:for each="{myMenuVariable}" as="menuPage" iteration="iteration">

                                <li>
                                    <f:link.page pageUid="{menuPage.uid}" title="{menuPage.linktext}">{menuPage.linktext}</f:link.page>
                                </li>
                            </f:for>

                        </v:page.menu.directory>
                    </ul>
                </div>
                <!-- /#sidebar-wrapper -->


                <!-- Page Content -->
                <div id="page-content-wrapper" class="col-md-9">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <f:render section="Content" optional="TRUE" arguments="{_all}" />
                                <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->
            </div>
        </div>

    </section>


    <footer>
        <f:render partial="PageObjects" section="Footer" optional="TRUE" arguments="{_all}" />
    </footer>

</div>

