.form-group{
  display: block;
  margin-left: 0px;
  .form-field {
    width: 48%;
    label {
      width: 150px;
    }
    .school-visit {
      width: 40%;
      padding-left: 5%;
    }
  }
  label.over{
    display: block;
    width: auto;
  }
  .form-line{
    width: 100%;
     padding-bottom: 10px;
    label{
      width: 50%;
      padding-right: 2%;
      display: inline-block;
      &.over{
        width: 100%;
        display: block;
      }
    }
    .uploaded-document{
      display: block;
    }
    input[type=text]{
      width: 45%;
    }
    .file{
      display: inline-block;
    }
    .next{
      padding-left: 20px;
    }

  }
  .form-field-left{
    float: left;
    input{
      width: 100%;
    }
  }
  .form-field-right{
    float: right;
    input{
      width: 100%;
    }
  }
  input[type=radio]{
    margin-right: 10px;
    width: auto;
  }
  .form-radio{
    padding-right: 15px;
  }
}
fieldset{
  color: inherit;
  font-weight: bold;
  legend{
    padding: 30px 0 20px 0;
    margin-bottom: 0;
    .subline{
      font-size: 1.6rem;
    }
  }
}
.add-template{
  display: block;
  margin: 20px 0;
}
.removeOtherSchool{
  margin: 10px 0;
}
.step-navigation{
  .btn {
    background-color: #a2bd30;
    color: white;
    margin-left: 20px;
    &:first-child {
      margin-left: 0;
    }
  }


}
.tabs-container{
  .tab-content{
    border-left: 1px solid #ddd;
    padding: 10px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    .btn{
      background-color: #a2bd30;
      color: white;
    }
  }
}
.finish-online-formula{
  width: 100%;
  text-align: right;
  margin-top: 20px
  .btn{
    background-color: #a2bd30;
    color: white;
    margin-left: 20px;
  }
}