
<f:layout name="Default" />

<f:section name="main">
	<h1>Kosten der Familie des Antragstellers step 4</h1>

	<f:flashMessages renderMode="div" />

	<f:render partial="FormErrors" arguments="{object:Candidate}" />

	<h2>IV. Finanzielle Situation 2. Teil</h2>
	<f:form action="updateStep5" name="family" object="{family}" arguments="{candidate: candidate}"
			pageUid="{settings.pageStep5}" additionalAttributes="{role: 'form'}">
		<f:render partial="Candidate/FormFieldsIncome" arguments="{family: family, candidate: candidate,
															settings: settings}" />
		<f:form.submit value="Save" />
	</f:form>




</f:section>
