
<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages renderMode="div" />

	<f:if condition="{isNew}">
		<f:then></f:then>
		<f:else>
			<f:render partial="Candidate/StepNavigation" arguments="{settings: settings}" />
		</f:else>
	</f:if>

	<f:render partial="FormErrors" section="original" arguments="{object:Candidate}" />
	<f:if condition="{isNew}">
		<f:then>

			<f:form action="create"  name="newCandidate" object="{candidate}" pageUid="{settings.pageStep2}">
				<f:render partial="Candidate/FormFields" arguments="{_all}"/>

			</f:form>
		</f:then>
		<f:else>
			<f:form action="updateStep1" name="candidate" object="{candidate}" pageUid="{settings.pageStep2}">
				<f:render partial="Candidate/FormFields" arguments="{candidate:candidate}" />

			</f:form>
		</f:else>
	</f:if>




</f:section>