
<f:layout name="Default" />

<f:section name="main">
	<h1>Einkommen aller Familienmitglieder des Antragstellers step 4</h1>

	<f:flashMessages renderMode="div" />

	<f:render partial="FormErrors" arguments="{object:Candidate}" />


	<f:form action="updateStep4" name="family" object="{family}" arguments="{candidate: candidate}"
			pageUid="{settings.pageStep5}" additionalAttributes="{role: 'form'}">
		<f:render partial="Candidate/FormFieldsRelatives" arguments="{family: family, candidate: candidate,
															settings: settings}" />
		<f:form.submit value="Save" />
	</f:form>




</f:section>
