
<f:layout name="Default" />

<f:section name="main">
	<h1>Familie des Antragstellers step 3</h1>

	<f:flashMessages renderMode="div" />

	<f:render partial="FormErrors" arguments="{object:Candidate}" />

	
	<f:form action="updateStep3" name="family" object="{family}" arguments="{candidate: candidate}"
			pageUid="{settings.pageStep4}" additionalAttributes="{role: 'form'}" class="form-family">
		<f:render partial="Candidate/FormFieldsRelatives" arguments="{family: family, candidate: candidate,
															settings: settings}" />
		<f:form.submit value="Save" />
	</f:form>




</f:section>
