<f:section name="Main">
<table>
	<tr><td colspan="2"><h3>Gesendete Dokumente</h3></td></tr>
	<tr>
		<td><f:translate key="tx_tilapplication_domain_model_documents.life_school_career" extensionName="TilApplication"/></td>
		<td>{documents.lifeSchoolCareer}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_tilapplication_domain_model_documents.curriculum_vitae" extensionName="TilApplication"/></td>
		<td>{documents.curriculumVitae}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_tilapplication_domain_model_documents.survey" extensionName="TilApplication"/></td>
		<td>{documents.survey}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_tilapplication_domain_model_documents.certificate1" extensionName="TilApplication"/></td>
		<td>{documents.certificate1}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_tilapplication_domain_model_documents.certificate2" extensionName="TilApplication"/></td>
		<td>{documents.certificate2}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_tilapplication_domain_model_documents.certificate3" extensionName="TilApplication"/></td>
		<td>{documents.certificate3}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_tilapplication_domain_model_documents.passport_photo" extensionName="TilApplication"/></td>
		<td>{documents.passportPhoto}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_tilapplication_domain_model_documents.identity_card" extensionName="TilApplication"/></td>
		<td>{documents.identityCard}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_tilapplication_domain_model_documents.residence_permit" extensionName="TilApplication"/></td>
		<td>{documents.residencePermit}</td>
	</tr>

</table>
</f:section>